[package]
name = "snapcd"
version = "0.1.0"
authors = ["5225225 <5225225@mailbox.org>"]
edition = "2018"

[dependencies]
cdchunking = "1.0.0"
blake2 = "0.8.1"
rand = "0.7.2"
rand_chacha = "0.2.1"
serde_cbor = "0.10"
serde = { version = "1.0", features = ["derive"] }
cdc = "0.1.0"
structopt = "0.3.5"
rusqlite = "0.20.0"
zstd = "0.5.1"
failure = "0.1.6"
failure_derive = "0.1.6"
bitvec = "0.16.1"
hex = "0.4.0"

[profile.release]
debug = true
